
/* background color */
html {
background-color: rgb(167, 164, 166);
}


/* styling to center game on the page */
main {
    /* background-color: yellow; */
    width: 40%;
    position: fixed;
    display: flex;
    flex-direction: column;
    margin: 16% 0% 20% 30%;
    padding: 1%;
}


/* buttons style */
.options{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

/* buttons background, border, and font size */
.options button {
    font-size: 200%;
    width: 33%;
    border-radius: 15%;
    border-style: groove;
    background: linear-gradient(#3f87a6, #ebf8e1, #f69d3c);

}

/* buttons hover styling */
.options button:hover{
    opacity: .5;
}
